Source: switchboard-plug-about
Section: x11
Priority: optional
Maintainer: elementary OS Team <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libfwupd-dev,
               libgranite-dev,
               libhandy-1-dev,
               libswitchboard-2.0-dev,
               libappstream-dev,
               libgtop2-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-about

Package: switchboard-plug-about
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: io.elementary.feedback, fwupd, switcheroo-control
Enhances: switchboard
Description: About plug for Switchboard
 This plug displays information about the system.
