.operating-system-view .logo {
    color: white;
    background-image: linear-gradient(
        to bottom,
        alpha(@accent_color_500, 0.25),
        alpha(@accent_color_700, 0.75)
    );
    border-radius: 100%;
    box-shadow:
        inset 0 -2px 0 0 alpha(@highlight_color, 0.2),
        inset 0 2px 0 0 alpha(@highlight_color, 0.3),
        inset 2px 0 0 0 alpha(@highlight_color, 0.07),
        inset -2px 0 0 0 alpha(@highlight_color, 0.07),
        inset 0 0 0 1px alpha(black, 0.7);
    -gtk-icon-shadow:
        0 1px 1px alpha(black, 0.3),
        0 2px 3px alpha(@accent_color_900, 0.2);
    -gtk-icon-style: symbolic;
}

row modelbutton {
   padding: 3px 6px;
}

row.link > box,
row.link > grid {
    padding: 0 0.5em;
    border-spacing: 1em 0;
}

row.link > grid label.dim-label {
    margin: 0.25em 0 0.5em;
}

levelbar.pink:not(:backdrop) block.filled {
    background-color: @BUBBLEGUM_300;
}

levelbar.pink block.empty {
    background-color: alpha(@menu_separator, 0.6);
}
