name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          apt update
          apt install -y libadwaita-1-dev libfwupd-dev libgranite-7-dev libgtk-4-dev libgtop2-dev libgudev-1.0-dev libudisks2-dev libswitchboard-3-dev libappstream-dev libpackagekit-glib2-dev libpolkit-gobject-1-dev libsoup-3.0-dev meson valac
      - name: Build
        env:
          DESTDIR: out
        run: |
          meson build
          ninja -C build
          ninja -C build install

  fedora:
    runs-on: ubuntu-latest

    container:
      # Rawhide because we want to test Fwupd 2.0.0
      image: fedora:rawhide

    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          dnf install -y libadwaita-devel fwupd-devel granite-7-devel gtk4-devel libgtop2-devel libgudev-devel libudisks2-devel appstream-devel PackageKit-glib-devel polkit-devel meson valac
      - name: Build
        env:
          DESTDIR: out
        run: |
          meson build
          ninja -C build install

  lint:
    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: io.elementary.vala-lint -d .
